<div class="row">
<div class="card col-md-6 my-4">
<div class="card-body">
<h2 class="card-title">Ubah <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<% if devise_error_messages!.present? %>
    <%= content_tag :div, devise_error_messages!, class: "alert alert-danger" %>  
  <% end %>  

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, "Kata Sandi" %> <small><i>(biarkan kosong jika tidak ingin diganti)</i></small>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted", id="passwordHelp">Minimal <%= @minimum_password_length %> karakter</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Kata Sandi Konfirmasi" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "Kata Sandi Sekarang" %> <small><i>(Kami butuh kata sandi anda untuk mengubah data akun)</i></small>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Ubah", class: "btn btn-primary", data:{"disable-with": "Proses penyimpanan..."} %>
  </div>
<% end %>
</div>
</div>
<div class="card col-md-4 my-4 mx-auto">
<div class="card-body">
<h3 class="card-title">Hapus akun saya</h3>

<p>Ingin menghapus akun? <%= button_to "Hapus akun saya", registration_path(resource_name), data: { confirm: "Anda yakin?" }, method: :delete, class: "btn btn-danger", data:{"disable-with": "Proses penghapusan..."} %></p>

<%= link_to "Kembali", :back %>
</div>
</div>
</div>