<div class="card col-md-4 my-4">
<div class="card-body">
<h2 class="card-title">Daftar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if devise_error_messages!.present? %>
    <%= content_tag :div, devise_error_messages!, class: "alert alert-danger" %>  
  <% end %>  

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Kata Sandi" %>    
    <%= f.password_field :password, autocomplete: "off", aria:{describedby: "emailHelp"}, class: "form-control" %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted", id="passwordHelp">Minimal <%= @minimum_password_length %> karakter</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Kata Sandi Konfirmasi" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Daftar", class: "btn btn-primary", data:{"disable-with": "Proses pendaftaran..."} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>