<div class="row">     
<div class="col-md-8">
<% @posts.each do |post| %>
    <div class="card my-4">
        <div class="card-body">
            <%= content_tag :h4, post.title, class: "card-title" %>
            <%= content_tag :h6, "oleh "+post.user.email, class: "text-muted" %>
            <%= content_tag :p, post.body %>
        </div>
        <div class="card-footer">
            <%= post.created_at.strftime("%d/%m/%Y %H:%M") %>
        </div>
    </div>        
<% end %>         
</div>   
</div>   