<div class="card col-md-4 my-4">
<div class="card-body">
<h2 class="card-title">Masuk</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Kata Sandi" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, "Ingatkan saya", class: "form-check-label" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Masuk", class: "btn btn-primary", data:{"disable-with": "Proses masuk..."} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>