<div class="card my-4">
    <div class="card-body">
    <%= content_tag :h1, @formTitle, class: "card-title" %>
    <%= form_with model: @post, local: true do |form| %>

    <% if @post.errors.any? %>
        <div class="alert alert-danger">        
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label :title, "Judul" %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :body, "Isi" %>
        <%= form.text_area :body, class: "form-control" %>
    </div>  
    <%= form.submit "Submit", class:"btn btn-primary", data:{"disable-with": "Proses penyimpanan..."} %>    

    <% end %>
    </div>
</div>