<h1 class="my-4">Artikel</h1>
<p><%= link_to 'Tambah', new_post_path, class: "btn btn-primary" %></p>
<div class="table-responsive">
    <table class="table table-hover">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Judul</th>
        <th scope="col">Pembuat</th>
        <th scope="col">Dibuat</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <th scope="row"><%= post.id %></th>
            <td><%= post.title %></td>
            <td><%= post.user.email %></td>
            <td><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td class="nav">
                <%= link_to 'Ubah', edit_post_path(post.id), class: "nav-link btn btn-primary btn-sm mx-1" %>
                <%= link_to 'Hapus', post, class: "destroy nav-link btn btn-danger btn-sm mx-1", method: :delete, data:{confirm: "Yakin akan dihapus?", "disable-with": "Proses hapus..."}, remote: true %>
            </td>
        </tr>
        <% end %>    
    </tbody>
    </table>
</div>