<!DOCTYPE html>
<html>
  <head>
    <title>My First Ruby on Rails Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link_to 'MyFirst ROR', root_path, class: "navbar-brand" %>      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Artikel', posts_path, class: "nav-link" %>
            </li>            
          <% else %>
            <li class="nav-item">
              <%= link_to 'Masuk', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Daftar', new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="btn-group navbar-btn ml-4">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to 'Akun', edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Keluar', destroy_user_session_path, class: "dropdown-item", method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <% if name == "notice" %>
        <%= content_tag :p, msg, class: "alert alert-success" %>
      <% elsif name == "alert" %>      
        <%= content_tag :p, msg, class: "alert alert-warning" %>      
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
